<!DOCTYPE html>
<html>
<head>
  <title>Index page</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1 {background-color: powderblue}
  </style>
</head>
<body>

  <h1 title="Main header">Welcome to the index</h1>
  <hr>

  <h2 title="First sub-header">Summary</h2>
  <p title="First paragraph">
    The purpose of this page is that of playing around with an html template and
    render it in a Flask app.
  </p>

  <h2 title="Secon sub-header">Content</h2>
  <ul title="Other pages">
    <li><a href='/ulisse-page/'>L'Ulisse di Saba</a></li>
    <li><a href='/css-example/'>CSS example</a></li>
    <li><a href='/javascript-example/'>JavaScript example</a></li>
  </ul>
  <p>This is the index for the basic Flask application we are developing.</p>
  <p>
    All of this can be found in
    <a href="http://www.github.com/emanuele-moscato/using-flask">this GitHub
    repository</a>.
  </p>
  <p>Some things out there to try:</p>
  <ul title="Unordered list">
    <li>Buttons</li>
    <li>JavaScript scripts</li>
  </ul>
  <p>
    To know more about style and coding conventions in HTML5,
    <a href="https://www.w3schools.com/html/html5_syntax.asp">read this page</a>.
  </p>

  <button >A button</button>

  <p>
    Line breaks are obtained with "br",<br>like this, or with "pre",
    <pre>
      which looks
      exactly
      like this.
    </pre>
  </p>
  <p style="background-color:powderblue">
    You can also use the "style" attribute
  </p>
  <p style="font-family:helvetica">
    The "font-family" style option is also available (e.g. Helvetica).</p>

  <p style="text-align:center">The "text-align" option does... guess what?</p>


</body>
</html>
