<!DOCTYPE html>
<html>
<body>

<h1 title="Main header">Welcome to the index</h1>

<h2 title="First sub-header">Summary</h2>

<p title="First paragraph">The purpose of this page is that of playing around with an html template and
render it in a Flask app.</p>

<h2>Content</h2>

<p>This is the index for the basic Flask application we are developing.</p>
<p>All of this can be found in
  <a href="http://www.github.com/emanuele-moscato/using-flask">this GitHub
  repository</a>.</p>
<p>Some things out there to try:</p>
<ul title="Unordered list">
  <li>Buttons</li>
  <li>JavaScript scripts</li>
</ul>

</body>
</html>
