<!DOCTYPE html>
<html>
<head>
  <title>Ulisse</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1 {background-color: powderblue}
  </style>
</head>
<body>
  <h1 style="text-align:center;">Ulisse <cite>(Umberto Saba)</cite></h1>
  <div style="text-align:center;">
    <pre style="display:inline-block;text-align:left;">
      Nella mia giovinezza ho navigato
      lungo le coste dalmate. Isolotti
      a fior d'onda emergevano, ove raro
      un uccello sostava intento a prede,
      coperti d'alghe, scivolosi, al sole,
      belli come smeraldi. Quando l'alta
      marea e la notte li annullava, vele
      sottovento sbandavano più al largo,
      per sfuggirne l'insidia. Oggi il mio regno
      è quella terra di nessuno. Il porto
      accende ad altri i suoi lumi; me al largo
      sospinge ancora il non domato spirito,
      e della vita il doloroso amore.
    </pre>
  </div>
</body>
</html>
